@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


.michroma-regular {
    font-family: 'Miama', sans-serif;

}

body {
    background-color: black;
    align-items: center;
}

.inter-fitness-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.point-one-color,
.change-habit {
    color: rgba(255, 255, 255, 1);
}

h1 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

p {
    color: rgba(255, 255, 255, 0.5);
}

.color-point-five,
.habit-explain {
    color: rgba(255, 255, 255, 0.5);
}

.bg-light,
.button-app,

.two-container {
    /* background-color: rgba(17, 17, 17, 1); */
}

.orange-color,
.button-primary,
.join-btn {
    background-color: rgba(230, 83, 60, 1);
}

.home {
    /* border: 7px solid rgba(230, 83, 60, 1); */
    border-radius: 30px;
    padding: 8px 20px;
}

.shape {}

.navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

.brand {
    font-size: 2.1rem;
    color: rgba(230, 83, 60, 1);

}

.nav-links {
    /* padding-right: 190px; */
    /* border: 1px solid white; */
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.05rem;
}

.banner-title {
    font-size: 4.8rem;

}

.banner-description {}

.navbar {
    display: flex;
    align-items: center;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

.banner-contant {
    /* justify-content: center; */
    display: flex;
}

.button-primary,
.button-app {
    color: white;
    padding: 16px 45.5px;
    border-radius: 35px;
    font-weight: 400;
    font-size: 1.05rem;
    border: none;
}

.button-app {
    background-color: black;
    border: 1px solid white;
}

.changes {
    max-width: 476px;
    margin: 0 auto;
}


.change-habit {}

.habit-explain {}


.images {
    display: flex;
    max-width: 566px;
    margin: 0 auto;

}

.img-one {
    border-radius: 50%;
}

.img-two {
    border-radius: 50%;
}

.img-three {
    border-radius: 50%;
}

.img-four {
    border-radius: 50%;
}

.third-container {
    max-width: 684px;
    margin: 0 auto;
    /* padding-top: 78px; */
    border-radius: 18px;
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    width: 684px;
    height: 400px;
}

.run-description {
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 54px;
}

.run-container {
    /* padding: 45px 68px 54px; */
}

.extra-img {
    border-radius: 18px;
    width: 287px;
    height: 170px;
}

/*  */

.run-img {
    object-fit: cover;
    max-width: 200px;
    width: 100%;
    /* padding-top: 40px; */
    /* padding-right: 43px; */
    border-radius: 18px;

}

.join-btn {
    color: white;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.02rem;
}

.exercises {
    max-width: 671px;
    margin: 0 auto;
}

.calculator {
    max-width: 595px;
    margin: 0 auto;
}

.tbl-head {
    color: white
}

.trainer-container {
    max-width: ;
}


.img-shape {
    width: 199px;
    height: 272px;
}