@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-fitness-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.point-one-color {
    color: rgba(255, 255, 255, 1);
}

.color-point-five {
    color: rgba(255, 255, 255, 0.5);
}

.bg-light {
    background-color: rgba(17, 17, 17, 1);
}

.home {
    background-color: rgba(230, 83, 60, 1);
    /* border: 7px solid rgba(230, 83, 60, 1); */
    border-radius: 30px;
    padding: 8px 20px;
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.brand {
    font-size: 2.1rem;
    color: rgba(230, 83, 60, 1);

}

.nav-links {
    /* padding-right: 190px; */
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.05rem;
}

.banner-title {
    font-size: 4.8rem;

}

.banner-description {}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}